{
  "Version": 2,
  "Mixers": {
    "Guid": "50d37a5d-0d4f-463d-b315-4dd4c6ffe5d3",
    "Name": "Master",
    "Volume": 1,
    "Mute": false,
    "Solo": false,
    "Processors": [],
    "Children": [
      {
        "Guid": "717b1574-8ec7-44a4-a895-900965b4f2d2",
        "Name": "Music",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "d2dacc89-611a-4637-80aa-e2ddcae509f0",
        "Name": "Game",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "IsDefault": true,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "aea250af-0206-41a6-a451-38c2512ded5b",
        "Name": "UI",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Processors": [],
        "Children": []
      }
    ]
  },
  "__guid": "0a78d747-e2e2-4dbf-84c4-0626d6541408",
  "__schema": "configdata",
  "__type": "MixerSettings",
  "__version": 2
}